<div class="container">
  <div>
  <%= render 'navbar_wagon_without_login' %>
  </div>
</div>

<div class="container">
  <div class="col-12 col-sm-6 col-md-4">
  <h1>Create a new Flat</h1>
  <%= render 'form' %>
  </div>
</div>
